.aboutInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutInfo-text{
    font-size: 24px;
}

@media only screen and (max-width: 576px){
    .aboutInfo{
        flex-direction: column;
    }
    .aboutInfo-text{
        text-align: center;
    }
}